@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font-title: 'Passion One';
    --font-text: 'Sriracha';
}

* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
}

.header h1 {
    font-family: var(--font-title);
    font-size: 3.8em;
    padding: 50px 0 10px 0;
}

.header p {
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

.header a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.text {
    padding: 40px 0px 10px 41px;
    font-family: var(--font-text);
    font-size: 3.5vw;
    line-height: 1.8em;
}

.text-2 {
    padding: 30px 0px 10px 41px;
    font-family: var(--font-text);
    font-size: 3.5vw;
    margin-bottom: 40px;
    line-height: 1.8em;
}

.bee-image {
    background-image: url(imagens/background001.jpg);
    background-position: right center;

    padding: 10vh 0vh 10vh 0vh;
    font-family: var(--font-text);
    padding-left: 30px;
    font-size: 3.5vw;
}

#image-1 {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

.text-decoration {
    display: inline-block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    line-height: 1.8em;
}

.leaves-image {
    background-image: url(imagens/background002.jpg);
    background-position: right center;

    padding: 10vh 0vh 10vh 0vh;
    font-family: var(--font-text);
    padding-left: 30px;
    font-size: 3.5vw;
}

#image-2 {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

.professor-guanabara {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.professor-guanabara a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.danielle-silva {
    background-color: rgba(190, 166, 57, 0.945);
    color: white;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.danielle-silva a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}